<h3><%= l(:label_pptv) %></h3>
<p>
  <%= label_tag('settings_pptv_enabled', l(:enable, scope: [:redmine_social_sign_in])) %>
  <%= check_box_tag('settings[pptv_enabled]', '1', @settings['pptv_enabled'] == '1') %>
</p>

<p>
  <%= label_tag('settings_pptv_app_id', l(:app_id, scope: [:redmine_social_sign_in])) %>
  <%= text_field_tag 'settings[pptv_app_id]', @settings['pptv_app_id'] %>
</p>

<p>
  <%= label_tag('settings_pptv_app_secret', l(:app_secret, scope: [:redmine_social_sign_in])) %>
  <%= text_field_tag 'settings[pptv_app_secret]', @settings['pptv_app_secret'] %>
</p>
